*{
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

div{
    width: 20%;
    height: 20%;
    text-align: center;
    border-style: solid;
    
}
#Box1{
    background-color: rgb(69, 221, 163);
    display: flex;
    justify-content: center;
    align-items: center;
}
#Box2{
    background-color: rgb(175, 48, 195);
    display: flex;
    justify-content: center;
    align-items: center;
}
