body{
    background-color: rgb(242, 243, 243);
    text-align: none;
    text-decoration: none;
    color: rgb(9, 9, 9);
}

h1{
    background-color: rgb(35, 83, 179);
    text-align: center; 
    color:rgb(187, 141, 15);
}